<h1>Contacts</h1>
<%
contacts = Contact.all
companies = Company.all
%>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Company</th>
    </tr>
    <% for contact in contacts %>
    <tr>
        <td><%= contact["first_name"]%></td>
        <td><%= contact["last_name"]%></td>
        <td><%= contact["email"]%></td>
        <td><%= contact["phone_number"]%></td>
        <td><%= Company.find(contact.company_id).name%></td>
    </tr>
    <% end %>
</table>